<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contestants</title>
    <!-- Include Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <!-- Include AOS CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/aos@2.3.1/dist/aos.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/styles/style.css" />
    <style>
      .contestant-card {
        background: #dcca87;
        border-radius: 10px;
        padding: 15px;
        margin-bottom: 20px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        text-align: center;
        color: #060107;
        opacity: 0; /* Ensure card starts hidden for AOS */
        transform: translateY(10px); /* Initial offset for animation */
        transition: opacity 0.5s, transform 0.5s; /* Smooth transition */
      }
      .img-small {
        max-width: 100%;
        height: auto;
        border-radius: 30%;
        margin-bottom: 15px;
      }
      .nickname {
        font-weight: bold;
        color: white;
      }
      p {
        color: white;
      }
      h2 {
        color: #333;
        text-align: center;
        margin-bottom: 30px;
      }
      #searchInput {
        max-width: 400px;
        margin: 0 auto 30px auto;
      }
      .btn-primary {
        background-color: #060107;
        border: none;
        color: #fff;
        font-weight: bold;
        padding: 10px 20px;
        border-radius: 30px;
        transition: background-color 0.3s, transform 0.3s;
      }
      .btn-primary:hover {
        background-color: #dcca87;
        transform: scale(1.05);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3), 0 6px 20px rgba(0, 0, 0, 0.25);
      }
      .award-title {
        color: #dcca87;
      }
    </style>
  </head>
  <body>
    <!-- Include header -->
    <%- include('header') %>
    <div id="contestantsContainer" class="container mt-5">
      <h2 class="award-title">
        Contestants<% if (selectedAward && selectedAward.title) { %> for <%=
        selectedAward.title %><% } %>
      </h2>
      <input
        type="text"
        id="searchInput"
        placeholder="Search by nickname"
        class="form-control mb-3"
      />
      <!-- Display contestants dynamically -->
      <% contestants.forEach((contestant, index) => { %>
      <div
        class="contestant-card"
        data-aos="fade-up"
        data-aos-duration="500"
        data-aos-delay="<%= index * 50 %>">
        <img
          src="/uploads/<%= contestant.photo_url %>"
          alt="<%= contestant.nickname %>"
          class="img-small"/>
        <p class="mt-2 nickname"><%= contestant.nickname %></p>
        <p>Level: <%= contestant.level %></p>
        <a
          href="/contestant/<%= contestant.id %>/votenow/payment"
          class="btn btn-primary"
        >
          Click to Vote
        </a>
      </div>
      <% }); %>
    </div>

    <!-- Include Bootstrap JS and Popper.js -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Include AOS JS -->
    <script src="https://cdn.jsdelivr.net/npm/aos@2.3.1/dist/aos.js"></script>
    <script>
      AOS.init({
        duration: 500, // Duration of the animation
        easing: "ease-in-out", // Easing function
        once: true, // Animate only once
      });

      // Refresh AOS when search results change
      function refreshAOS() {
        AOS.refresh();
      }

      document.addEventListener("DOMContentLoaded", function () {
        // Refresh AOS after search results update
        const searchInput = document.getElementById("searchInput");
        searchInput.addEventListener("input", function () {
          refreshAOS();
        });
      });
    </script>
    <!-- Include the search.js file -->
    <script src="/script/search.js"></script>
    <!-- Include footer -->
    <%- include('footer') %>
  </body>
</html>