<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vote Now Success</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/styles/style.css" />
    <style>
      body {
        background-color: #000;
      }
      .alert {
        background-color: #ffcccb;
        color: #721c24;
      }
      .contestant-card {
        background: #dcca87;
        border-radius: 10px;
        padding: 15px;
        margin: 20px 0;
        color: #fff;
        text-align: center;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      }
      .img-small {
        max-width: 100%;
        height: auto;
        border-radius: 50%;
        margin-bottom: 15px;
      }
      .nickname {
        font-weight: bold;
      }
      .btn-dark {
        background-color: #343a40;
        border: none;
        color: #fff;
      }
      .btn-dark:hover {
        background-color: #23272b;
      }
      .btn-primary {
        background-color: #060107;
        border: none;
        color: #fff;
        font-weight: bold;
        padding: 10px 20px;
        border-radius: 30px;
        transition: background-color 0.3s, transform 0.3s;
      }
      .btn-primary:hover {
        background-color: #dcca87;
        transform: scale(1.05);
      }
      .modal-header {
        background-color: #dcca87;
        color: #fff;
      }
      .modal-body {
        background-color: #f8f9fa;
      }
      .form-label {
        font-weight: bold;
      }
      .success-message {
        color: rgba(11, 62, 11, 0.503);
        font-weight: bold;
      }
      .failure-message {
        color: rgb(196, 20, 20);
        font-weight: bold;
      }
      .vote-again-button {
        margin-top: 10px;
      }
    </style>
  </head>
  <body>
    <%- include('header', { selectedContestant }) %>
    <div class="container mt-5">
      <div class="d-flex justify-content-between align-items-center">
        <% if (status === 'success') { %>
        <h2 class="text-success">Congratulations</h2>
        <% } else if (status === 'failed') { %>
        <h2 class="text-danger">Sorry, your payment was not successful</h2>
        <% } else { %>
        <h2 class="text-info">There is an error with your payment</h2>
        <% } %>
      </div>

      <div class="contestant-card">
        <% if (selectedContestant) { %>
        <img
          src="/uploads/<%= selectedContestant.photo_url %>"
          alt="<%= selectedContestant.nickname %>"
          class="img-small"
        />
        <p class="mt-2 nickname">
          Nickname: <%= selectedContestant.nickname %>
        </p>
        <p>Department: <%= selectedContestant.department %></p>
        <p>Award Title: <%= selectedContestant.award_titles[0] %></p>

        <% if (status === 'success') { %>
        <button class="btn btn-success" disabled>Voted Successfully!</button>
        <a
          href="#"
          id="voteAgainButton"
          class="btn btn-primary vote-again-button"
          >Vote Again</a
        >
        <% } else if (status === 'failed') { %>
        <p class="failure-message">Payment failed. Please try again.</p>
        <a
          href="#"
          id="tryAgainButton"
          class="btn btn-primary vote-again-button"
          >Try Again</a
        >
        <% } else { %>
        <p class="failure-message">Invalid payment status. Please try again.</p>
        <% } %> <% } else { %>
        <p class="failure-message">Contestant details not available.</p>
        <% } %>
      </div>

      <button
        id="setAmountButton"
        class="btn btn-info mt-3"
        data-bs-toggle="modal"
        data-bs-target="#amountModal"
      >
        Set Amount
      </button>

      <div class="modal" tabindex="-1" role="dialog" id="amountModal">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Set Amount</h5>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
              <div class="mb-3">
                <label for="amount" class="form-label">Enter Amount:</label>
                <input
                  type="number"
                  class="form-control"
                  id="amount"
                  placeholder="100"
                  step="100"
                  min="100"
                />
              </div>
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-primary"
                id="confirmPaymentButton"
              >
                Confirm
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        function retrieveStoredEmail() {
          return localStorage.getItem("userEmail");
        }

        function initiateAuthenticationRequest(amount) {
          const storedEmail = retrieveStoredEmail();
          if (storedEmail) {
            fetch(`/<%= selectedContestant.id %>/payment/get-url`, {
              method: "POST",
              headers: {
                "Content-Type": "application/json",
              },
              body: JSON.stringify({ email: storedEmail, amount: amount }),
            })
              .then((response) => response.json())
              .then((data) => {
                if (data.authorization_url) {
                  window.location.href = data.authorization_url;
                } else {
                  console.error("Invalid response from server:", data);
                }
              })
              .catch((error) =>
                console.error("Error during fetch request:", error)
              );
          } else {
            console.error("Stored email not found.");
          }
        }

        document
          .getElementById("voteAgainButton")
          ?.addEventListener("click", function () {
            initiateAuthenticationRequest();
          });

        document
          .getElementById("tryAgainButton")
          ?.addEventListener("click", function () {
            initiateAuthenticationRequest();
          });

        document
          .getElementById("setAmountButton")
          .addEventListener("click", function () {
            const amountModal = new bootstrap.Modal(
              document.getElementById("amountModal")
            );
            amountModal.show();
          });

        document
          .getElementById("confirmPaymentButton")
          .addEventListener("click", function () {
            const amount = parseFloat(document.getElementById("amount").value);
            if (amount >= 100) {
              initiateAuthenticationRequest(amount);
              const amountModal = bootstrap.Modal.getInstance(
                document.getElementById("amountModal")
              );
              amountModal.hide();
            } else {
              alert("Amount must be at least 100.");
            }
          });
      });
    </script>
  </body>
</html>